@import "./../../../assets/style/variables.scss";

.footer {
    height: $footer;
    background-color: $brown;
    text-align: center;
    font-size: 0.8rem;
    .content {
        padding: 1%;
        a {
            color: white;
        }
    }

    
    
}