 
 @import '../../../../../assets/style/variables.scss';
 @import  '../../../../../assets/style/mixins.scss';

.articles-previews-slider {
      text-align: center;
      text-transform: capitalize;
      height: inherit;
      width: inherit;
      display: flex; 
      flex-wrap: nowrap;
      
      .slide {
        width: 250px;
        height: inherit;
        cursor: pointer; 
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
        display: inline-block;
        position: relative;
        overflow: hidden;
        flex: 0 0 auto; 

        .title-alone {
          @include gradient-dark-to-ligth(to top left, rgba(black, 0.1), rgba(white, 0.1));
        }
       
        div {
          height: inherit;
          width: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          .title {
            position: absolute;
            width: 100%;
            z-index: 11;
            flex: 0 0;
            text-align: center;
            overflow: hidden;

            &.all-articles {
              font-size: .5rem;
              height: inherit;
            }
          }
          
          img {
            opacity: .4;
            position: absolute;
            left: 50%; /* % of surrounding element */
            top: 69%;
            height: 100%;
            min-width: 100%;
            min-height: 33.25vw;
            transform: translate(-50%, -50%);
            overflow: hidden;
          }
        }
      }

      .slide:hover {
        font-weight: 400;
        @include alpha-attribute('background-color', rgba(black, 0.2), white);
        img {
          opacity: .8;
          min-height: 40vw;
          ::-webkit-scrollbar {
            display: none; 
          }
        }
      }
}