@import "../../../assets/style/variables.scss";

.admin-categories {
    width: 100%;
    height: 110%;

    .sub-title {
        color: $violet;
        font-size: 30px;
    }
    .category-element {
        color: $brown;
        padding: 1%;
        margin: 1%;
        border: 2px solid $yellow;
        border-radius: 20%;
        

    }
}