@import './variables.scss';
@import './mixins.scss';

// grid system //////////////////////////////////////////////////

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @include breakpoint(phablet) {
    .column {
      padding: 10px;
    }
  }
  @include breakpoint(tablet) {
    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      padding: 10px;
    }
  }
  @include breakpoint(laptop) {
    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      padding: 10px;
    }
  }
  @include breakpoint(desktop) {
    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      padding: 10px;
    }
  }
  @media print {
    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      padding: 0 10px 0 10px;
    }
  }
}

.flex-row-container {
  display: flex;
  flex-flow: row wrap;

  &.center {
    justify-content: center;
  }

  div {
    margin: 5px 0 0 0;
  }

  div:not(:last-child) {
    margin-right: 20px;
  }
}

// Flex

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

// show responsive //////////////////////////////////////////////////
.phone-only {
  display: none;
  @include breakpoint(phone) {
    display: block;
  }
}
.phablet-only {
  display: none;
  @include breakpoint(phablet) {
    display: block;
  }
}
.tablet-only {
  display: none;
  @include breakpoint(tablet) {
    display: block;
  }
}
.laptop-only {
  display: none;
  @include breakpoint(laptop) {
    display: block;
  }
}
.desktop-only {
  display: none;
  @include breakpoint(desktop) {
    display: block;
  }
}

.max-phablet {
  display: none;
  @media (min-width: 0) and (max-width: $screen-m - 1) {
    display: block;
  }
}

// hide responsive //////////////////////////////////////////////////
.hide-phone-only {
  display: block;
  @include breakpoint(phone) {
    display: none;
  }
}
.hide-phablet-only {
  display: block;
  @include breakpoint(phablet) {
    display: none;
  }
}
.hide-tablet-only {
  display: block;
  @include breakpoint(tablet) {
    display: none;
  }
}
.hide-laptop-only {
  display: block;
  @include breakpoint(laptop) {
    display: none;
  }
}
.hide-desktop-only {
  display: block;
  @include breakpoint(desktop) {
    display: none;
  }
}

.hide-max-phablet {
  display: block;
  @media (min-width: 0) and (max-width: $screen-m - 1) {
    display: none;
  }
}
