@import './variables.scss';
@import './mixins.scss';

// container sections

.section {
  width: 100%;
  padding: 10px 0 10px 0;
}

.sub-section {
  padding: 10px 0 10px 0;
}

.main-section {
  min-height: calc(100vh - #{$footer} - #{header()});
  width: 100%;
}

.container {
  padding: 10px;
  width: 100%;
}
