// colors

.red {
    background-color: red;
  }
  .yellow {
    background-color: yellow;
  }
  .blue {
    background-color: blue;
  }
  .violet {
    background-color: violet;
  }
  
//  text style
  .text-center {
    text-align: center;
  }