@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900&display=swap');

// Fonts
// ---------------------------
$emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$system: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
$sans: Averta, $system !global;
$serif: 'freight-text-pro', serif, $emoji !global;
$heading: $sans !global;
$body: $serif !global;
$form: $sans !global;
$element: $sans !global;
$ui: $sans !global;

$measure: 640px; // 30.476190476em new: 640px old: 684px;
$measure-wide: 720px; // 34.285714286em
$measure-narrow: 480px; // 22.857142857em

$headline: 48px;
$f7: 14px;
$f8: 12px;

// Defaults
// ---------------------------
$default: (
  sans: $ui,
  serif: $serif,
  color: #7d7e81,
  baseline: 24px,
  spacing: 12px,
  context: 16px,
  base-font-size: 16px,
  radius: 4px,
  display: inline-block,
  state: normal,
  transition-duration: 0.2s,
);

body {
  margin: 0;

  ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
  }
}
