@import "variables";
@import "./shared-style.scss";



// colors background
.red-bc {
    background-color: $red;
  }
  .yellow-bc {
    background-color: $yellow;
  }
  .blue-bc {
    background-color: $blue;
  }
  .violet-bc {
    background-color: $violet;
  }
  .green-bc {
    background-color: $green;
  }
  
//  text style
  .text-center {
    text-align: center;
  }

  .white-text {
    color: white;
  }

  // text color
  .red {
    color: $red;
  }
  .yellow {
    color: $yellow;
  }
  .blue {
    color: $blue;
  }
  .violet {
    color: $violet;
  }
  .green {
    color: $green;
  }

  .margin-l {
    margin-left: 20px;
  }