
.float-left {
  float: left;
}

.float-right {
  float: right;
}

// ~ Padding helper
$inner-spacing-value : 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60;

@each $value in $inner-spacing-value {
  .inner-space-top-#{$value} {
    padding-top: #{$value}px;
  }
  .inner-space-right-#{$value} {
    padding-right: #{$value}px;
  }
  .inner-space-bottom-#{$value} {
    padding-bottom: #{$value}px;
  }
  .inner-space-left-#{$value} {
    padding-left: #{$value}px;
  }
  .force-inner-space-top-#{$value} {
    padding-top: #{$value}px !important;
  }
  .force-inner-space-right-#{$value} {
    padding-right: #{$value}px !important;
  }
  .force-inner-space-bottom-#{$value} {
    padding-bottom: #{$value}px !important;
  }
  .force-inner-space-left-#{$value} {
    padding-left: #{$value}px !important;
  }
  .inner-space-#{$value} {
    padding: #{$value}px;
  }
}

// ~ Min width helper
$min-width-value : 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300;

@each $value in $min-width-value {
  .min-width-#{$value} {
    min-width: #{$value}px;
  }
}