.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  min-width: 50px;
  min-height: 50px;
  display: flex;

  &-Books {
    background-image: url('../icons/book-line.png');
  }
  &-Job {
    background-image: url('../icons/web-programming.png');
  }
  &-Japan {
    background-image: url('../icons/fuji-mountain.png');
  }
  &-Kimono {
    background-image: url('../icons/kimono.png');
  }
  &-double-chevron {
    background-image: url('../icons/double-chevron-white.png');
  }
  &-home {
    background-image: url('../icons/house-2.png');
  }
  &-list {
    background-image: url('../icons/list.png');
  }
  &-cv {
    background-image: url('../icons/cv.png');
  }
  &-airplane {
    mask: url('../icons/airplane.svg') no-repeat 50% 50%;
    background-color: $darkRed;
    mask-size: contain;
  }
  &-tea-cup {
    mask: url('../icons/tea-cup.svg') no-repeat 50% 50%;
    background-color: $darkRed;
    mask-size: contain;
  }
  &-open-book {
    mask: url('../icons/open-book.svg') no-repeat 50% 50%;
    background-color: $darkRed;
    mask-size: contain;
  }
  &-download {
    mask: url('../icons/download.svg') no-repeat 50% 50%;
    background-color: $violet;
    mask-size: contain;
  }
}
