// colors

$red: #db3d20;
$darkRed: #af3119;
$yellow: #eecc34;
$blue: #b5e4e4;
$violet: #ad959d;
$green: #8eb14d;
$brown: #4b3b2f;
$grey: #868c8d;

// breakpoints
// The container horizontal gap, which acts as the offset for breakpoints
$breakpoint-to-ems: true;

$gap: 32px !default;
$screen-s: 400px;
$screen-m: 760px !default;
$screen-l: 960px + (2 * $gap) !default;
$screen-xl: 1344px + (2 * $gap) !default;

$breakpoint-subtract: 1px;

$point: (
  phablet: $screen-s,
  tablet: $screen-m,
  laptop: $screen-l,
  desktop: $screen-xl,
);

// container sizes
$base-header-size: 60px;
$mobile-header-size: 50px;
$header-height: $base-header-size;
$footer: 13vh;
