@import "../../assets/style/variables.scss";

.carousel {
  width: 100%;
  height: 100%;

  &.classic {
    width: 100%;
    height: 90vh;

    .slide-container {
      width: 100%;
      height: 100%;

      .slide {
        width: 90vw;
        height: auto;
        float: right;
        text-align: center;
        position: absolute;
        z-index: 1;
        transition: opacity 0.4s;
        background-color: white;
        img {
          max-height: 90vh;
          border-radius: 10px;
          max-width: 90vw;
        }
      }
      .counter {
        position: absolute;
        bottom: 1em;
        right: 5em;
        z-index: 2;
        color: #ad959d;
        font-size: 1rem;
      }
    }
  }

  &.preview {
    height: 140px;
    max-width: 59%;

    .slide-container {
      border-radius: 20px;
      width: auto;
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      ::-webkit-scrollbar {
        display: none;
      }
    }
    .slide {
      width: auto;
      height: 100%;
      flex: 0 0 auto;
      display: inline-block;

      img {
        height: 100%;
      }
    }
  }
}
