@import "../../assets/style/variables.scss";

.admin {
    
    margin: 0 2% 10% 2%;
    
     
    .admin-title {
        text-align: center;
        color: $red;
        font-size: 3em;
        height: 100%;
        margin-left: 14%;
        @media screen and (min-width: 300px) and (max-width: 800px) {
            margin-left: 18%;
            font-size: 2em;
          }
    }

    .admin-button {
        float: right;
        padding-right: 10px;
        a {
          color: $yellow;
        }

        .ajust-icon {
            margin-top: 27px;
        }

        @media screen and (min-width: 300px) and (max-width: 800px) {
            padding-right: 0px;
            .ajust-icon {
                margin-top: 0px;
            }
          }
      }

      .admin-article-update-form {
          border-radius: 20px;
      }

      .admin-file-input {
            max-width: 155px;

        [type="file"] {
            height: 0;
            overflow: hidden;
            width: 0;
          }
          [type="file"] + label {
            background: #f15d22;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            margin-bottom: 1rem;
            outline: none;
            padding: 1rem 25px;
            position: relative;
            vertical-align: middle;
            background-color: $red;
            box-shadow: 0 6px darken($red, 10%);
            transition: none;
            text-align: center;
    
            span {
                font-weight: 600;
            }
    
            div {
                font-size: 0.6rem;
                }
            
            &:hover {
              box-shadow: 0 4px darken($red, 10%);
                top: 2px;
            }
              
      }

      
    }
}