@import "../../assets/style/variables.scss";

.admin {
    
    padding: 0 2% 0 2%;
    
     
    .admin-title {
        text-align: center;
        color: $red;
        font-size: 3em;
        height: 100%;
        margin-left: 8%;
    }
}