@import '../../assets/style/variables.scss';
@import '../../assets/style/mixins.scss';

.image-display {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .title {
    position: absolute;
    width: 100%;
    z-index: 11;
    flex: 0 0;
    text-align: center;
    overflow: hidden;
    text-transform: capitalize;
    background-color: rgba(gray, 0.3);
  }

  img {
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 69%;
    height: 100%;
    min-width: 100%;
    min-height: 360px;
    transform: translate(-50%, -63%);
    overflow: hidden;
    @media (min-width: 0px) and (max-width: $screen-m) {
      left: 50%;
      top: 70%;
      min-height: 67vw;
      height: 160%;
    }
    @media (min-width: $screen-m) and (max-width: $screen-l) {
      min-height: 45vw;
    }
    @media (min-width: $screen-l) and (max-width: $screen-xl) {
      min-height: 37vw;
    }
  }

  &:hover {
    .title {
      background-color: rgba(gray, 0.5);
    }
    img {
      opacity: 0.8;
      min-height: 50vw;
      ::-webkit-scrollbar {
        display: none;
      }
      @media (min-width: 0px) and (max-width: $screen-m) {
        min-height: 72vw;
      }
      @media (min-width: $screen-m) and (max-width: $screen-l) {
        min-height: 50vw;
      }
      @media (min-width: $screen-l) and (max-width: $screen-xl) {
        min-height: 42vw;
      }
    }
  }
}
