@import "../../../assets/style/variables.scss";

.admin-article {

    .article-content-input {
        height: 60vh;
        width: 93%;
        border: 4px $violet solid; 
        border-radius: 25px;
        padding: 3%;
    }

    .photo-preview {
        height: 100px;
    }

    
}