@import "../../assets/style/variables.scss";

.header {
    background-color: white;
    text-align: center; 

    .header-buttons {
        min-height: 5vh;
        z-index: 0;
    }
 
    .header-button {
     height: 60px;
     width: 100px;
     border: none;
    }

    .header-access-button {
        z-index: 11;
         font-size: 250%;
         height: 60px;
         width: 50px;
         float: right;
         color: $yellow;
     }
}

   