.header {
    background-color: lightcyan;

    .header-buttons {
        min-height: 5vh;
        text-align: center;
       
    }
 
    .header-button {
     height: 60px;
     width: 60px;
     border: none;
    }
}

   