@import './../../../assets/style/variables.scss';

.footer {
  min-height: $footer;
  color: $brown;
  text-align: center;
  background-color: $grey;
  padding: 10px;
  a {
    color: $blue;
    display: inline;
  }
  .content {
    .icons {
      font-size: 0.6rem;
    }
    a {
      color: $blue;
      display: inline;
    }
  }
}
