@import "../../assets/style/variables.scss";


    .category-element {
        color: lighten($grey, 10%);
        padding: 6px;
        border: 2px solid $violet;
        border-radius: 999em;
        background-color: white;
        
        &.is-selected {
            border-color: white;
            color: $yellow;
            font-display: bold; 
        }

    }

    
