@import "../../assets/style/variables.scss";


    .category-element {
        color: $grey;
        padding: 6px;
        font-weight: 500;
        border-radius: 999em;
        background-color: white;
        cursor: pointer;
        
        &.is-selected {
            color: white;
            background-color: $yellow;
            font-display: bold; 
            border-radius: 999em;
            padding: 10px;
            font-weight: 600;
        }

    }

    
