.articles-list-container {
    width: 100%;
}

.articles-list {
    padding: 10px 20px;

    .article-card {
        .title {

        }

        .category {

        }

        .preview {
            color: grey;
        }
    }
}