@import "./../../../assets/style/variables.scss";

.header {
  background-color: white;
  text-align: center;
  height: 60px;
  width: 100%;


  .header-admin-buttons-left {
    z-index: 11;
    height: 60px;
    width: 10%;
    float: left;

    .header-icon-home {
      background-image: url(./../../../assets/icons/house-2.png);
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      margin: 14px;
      height: 35px;
      width: 35px;
    }
  }

  .header-admin-buttons {
    z-index: 11;
    height: 60px;
    width: 10%;
    float: right;

    @media (max-width: $screen-m) { display: none;}

    .admin-button {
      font-size: 250%;
      display: inline-block;
      padding-right: 10px;
      a {
        color: $yellow;
      }
    }

  }

  .header-buttons {
    min-height: 5vh;
    margin-left: 10%;
    width: 90%;
    z-index: 0;

    @media (max-width: $screen-m) {
      margin-left: 0;
      width: 100%;}

    .header-button {
      height: 60px;
      width: 100px;
      border: none;

      .header-icon-books {
        background-image: url(./../../../assets/icons/book-line.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        height: 55px;
        width: 55px;
        margin: auto;
      }
      .header-icon-kimono {
        background-image: url(./../../../assets/icons/kimono.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 55px;
        width: 55px;
        display: block;
        margin: auto;
      }
      .header-icon-japan {
        background-image: url(./../../../assets/icons/fuji-mountain.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 55px;
        width: 55px;
        display: block;
        margin: auto;
      }
      .header-icon-job {
        background-image: url(./../../../assets/icons/web-programming.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 55px;
        width: 55px;
        display: block;
        margin: auto;
      }
    }
  }
}
