@import "../../../assets/style/variables.scss";
.header {
  background-color: white;
  text-align: center;
  height: $base-header-size;
  width: 100%;

  @media (min-width: 0px) and (max-width: $screen-m) {
    height: $mobile-header-size;
  }
  
  .header-admin-buttons-left {
    z-index: 11;
    height: inherit;
    width: 10%;
    float: left;
    @media (min-width: 0px) and (max-width: $screen-m) {
      height: 40px;
      width: 8%;
    }
  }

  .header-admin-buttons {
    z-index: 11;
    height: inherit;
    width: 10%;
    float: right;

    @media (min-width: 0px) and (max-width: $screen-m) {
      display: none;
    }

    .admin-button {
      height: inherit;
      font-size: 250%;
      width: 50%;
      display: inline-block;
      padding-right: 10px;

      a {
        color: $yellow;
      }
    }
  }

  .header-buttons {
    min-height: 5vh;
    height: inherit;
    margin-left: 10%;
    width: 90%;
    z-index: 0;

    @media (min-width: 0px) and (max-width: $screen-m) {
      height: 40px;
      margin-left: 0;
      width: 100%;
    }

    .header-button {
      height: inherit;
      width: 11%;
      border: none;
      background-color:$red;

      + .selected {
        background-color: $darkRed;
      }

      + :hover {
        background-color: $darkRed;
      }

      @media (min-width: 0px) and (max-width: $screen-m) {
        height: inherit;
        width: 60px;
      }
      
    }
  }
}
