@import "../../../assets/style/variables.scss";
.header {
  background-color: white;
  text-align: center;
  height: $base-header-size;
  width: 100%;
  @media (min-width: 0px) and (max-width: $screen-m) {
    height: $mobile-header-size;
  }

  .header-buttons-left {
    z-index: 11;
    width: 10%;
    float: left;
    height: inherit;
    position: absolute;

    @media (min-width: 0px) and (max-width: $screen-m) {
      display: none;
    }
  }

  .header-buttons {
    min-height: 5vh;
    height: inherit;
    width: 100%;
    z-index: 0;

    @media (min-width: 0px) and (max-width: $screen-m) {
      margin-left: 0;
      width: 100%;
    }

    .header-button {
      height: inherit;
      width: 11%;
      border: none;

      + .red {
        background-color: $red;
      }

      + .selected {
        background-color: $darkRed;
      }

      + :hover {
        background-color: $darkRed;
      }

      @media (min-width: 0px) and (max-width: $screen-m) {
        height: inherit;
        width: 20%;
        max-width: 88px;
      }
    }
  }

  .header-button-home {
    background-color: $red !important;

    @media (min-width: $screen-m) {
      display: none;
    }
  }
}
