.menu {
    width: 100%;
    
    .menu-item {
        height: 30vh;
        margin: 1% 0 1% 0;
    }
    
    .right {
        margin-left: 30%;
    }
    
    .left {
        margin-right: 30%;
    }
}
