@import "../../../../assets/style/variables.scss";

.menu {
    width: 100%;
    
    .menu-item {
        height: 30vh;
        @media only screen and (max-width: $screen-m)  {
            margin: 0;
           }
    }
    
    
}
