@import "../../../assets/style/variables.scss";

.tags-management {
  .tag {
    border: 2px solid $yellow;
    border-radius: 9999em;
    padding: 8px 7px 9px 7px;
    background-color: white;
    color: $grey;
    line-height:0.5;
  }

  .tag-to-remove {
    color: $red;
    padding-left: 7px;
    display: inline-flex;
    font-size: 70%;
  }
}
